name: Keep Render Awake

on:
  schedule:
    - cron: "*/10 * * * *"   # runs every 10 minutes
  workflow_dispatch:        # allows manual run

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Render service
        run: |
          curl -s https://pa-barya.onrender.com/health

name: Keep Render and Hugging Face Alive

on:
  schedule:
    - cron: "*/10 * * * *"   # every 10 minutes
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping Render backend
        run: |
          curl -s curl -s https://pa-barya.onrender.com/health

      - name: Ping Hugging Face Space
        run: |
          curl -s https://jayn95-Pa-Barya.hf.space/
